@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg-custom-gradient {
  background: var(--blue-gradient);
}

.text-gradient {
  color: var(--blue-gradient) !important;
}

.animation-showMenu {
  animation: showMenu 1s ease-in-out 0s 1;
}

@keyframes showMenu {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.shadow-custom {
  box-shadow: 0 0 #000, 0 0 #000, 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
